<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @admin.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @admin.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @admin.mobile %>
</p>

<p>
  <strong>Hcode9:</strong>
  <%= @admin.hcode9 %>
</p>

<p>
  <strong>Hcode5:</strong>
  <%= @admin.hcode5 %>
</p>

<p>
  <strong>Offname:</strong>
  <%= @admin.offname %>
</p>

<p>
  <strong>Offtype:</strong>
  <%= @admin.offtype %>
</p>

<p>
  <strong>Administration:</strong>
  <%= @admin.administration %>
</p>

<p>
  <strong>Department:</strong>
  <%= @admin.department %>
</p>

<p>
  <strong>Division:</strong>
  <%= @admin.division %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @admin.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @admin.latitude %>
</p>

<p>
  <strong>Person1:</strong>
  <%= @admin.person1 %>
</p>

<p>
  <strong>Person2:</strong>
  <%= @admin.person2 %>
</p>

<p>
  <strong>Person3:</strong>
  <%= @admin.person3 %>
</p>

<p>
  <strong>Person4:</strong>
  <%= @admin.person4 %>
</p>

<p>
  <strong>Person5:</strong>
  <%= @admin.person5 %>
</p>

<p>
  <strong>Personall:</strong>
  <%= @admin.personall %>
</p>

<p>
  <strong>Pak:</strong>
  <%= @admin.pak %>
</p>

<p>
  <strong>Region:</strong>
  <%= @admin.region %>
</p>

<p>
  <strong>Province:</strong>
  <%= @admin.province %>
</p>

<p>
  <strong>Ccaatt:</strong>
  <%= @admin.ccaatt %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin.address %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
