<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @hpi_survey.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hpi_survey.email %>
</p>

<p>
  <strong>Hcode5:</strong>
  <%= @hpi_survey.hcode5 %>
</p>

<p>
  <strong>Q 01011:</strong>
  <%= @hpi_survey.q_01011 %>
</p>

<p>
  <strong>Q 01012:</strong>
  <%= @hpi_survey.q_01012 %>
</p>

<p>
  <strong>Q 01013:</strong>
  <%= @hpi_survey.q_01013 %>
</p>

<p>
  <strong>Q 01014:</strong>
  <%= @hpi_survey.q_01014 %>
</p>

<p>
  <strong>Q 01015:</strong>
  <%= @hpi_survey.q_01015 %>
</p>

<p>
  <strong>Q 01016:</strong>
  <%= @hpi_survey.q_01016 %>
</p>

<p>
  <strong>Q 01017:</strong>
  <%= @hpi_survey.q_01017 %>
</p>

<p>
  <strong>Q 01018:</strong>
  <%= @hpi_survey.q_01018 %>
</p>

<p>
  <strong>Q 01021:</strong>
  <%= @hpi_survey.q_01021 %>
</p>

<p>
  <strong>Q 01022:</strong>
  <%= @hpi_survey.q_01022 %>
</p>

<p>
  <strong>Q 01023:</strong>
  <%= @hpi_survey.q_01023 %>
</p>

<p>
  <strong>Q 01031:</strong>
  <%= @hpi_survey.q_01031 %>
</p>

<p>
  <strong>Q 01032:</strong>
  <%= @hpi_survey.q_01032 %>
</p>

<p>
  <strong>Q 01033:</strong>
  <%= @hpi_survey.q_01033 %>
</p>

<p>
  <strong>Q 01034:</strong>
  <%= @hpi_survey.q_01034 %>
</p>

<p>
  <strong>Q 01035:</strong>
  <%= @hpi_survey.q_01035 %>
</p>

<p>
  <strong>Q 01036:</strong>
  <%= @hpi_survey.q_01036 %>
</p>

<p>
  <strong>Q 01037:</strong>
  <%= @hpi_survey.q_01037 %>
</p>

<p>
  <strong>Q 0201:</strong>
  <%= @hpi_survey.q_0201 %>
</p>

<p>
  <strong>Q 0202:</strong>
  <%= @hpi_survey.q_0202 %>
</p>

<p>
  <strong>Q 0203:</strong>
  <%= @hpi_survey.q_0203 %>
</p>

<p>
  <strong>Q 0204:</strong>
  <%= @hpi_survey.q_0204 %>
</p>

<p>
  <strong>Q 0205:</strong>
  <%= @hpi_survey.q_0205 %>
</p>

<p>
  <strong>Q 0206:</strong>
  <%= @hpi_survey.q_0206 %>
</p>

<p>
  <strong>Q 0207:</strong>
  <%= @hpi_survey.q_0207 %>
</p>

<p>
  <strong>Q 0208:</strong>
  <%= @hpi_survey.q_0208 %>
</p>

<p>
  <strong>Q 0209:</strong>
  <%= @hpi_survey.q_0209 %>
</p>

<p>
  <strong>Q 0210:</strong>
  <%= @hpi_survey.q_0210 %>
</p>

<p>
  <strong>Q 0211:</strong>
  <%= @hpi_survey.q_0211 %>
</p>

<p>
  <strong>Q 0212:</strong>
  <%= @hpi_survey.q_0212 %>
</p>

<p>
  <strong>Q 0213:</strong>
  <%= @hpi_survey.q_0213 %>
</p>

<p>
  <strong>Q 0214:</strong>
  <%= @hpi_survey.q_0214 %>
</p>

<p>
  <strong>Q 0215:</strong>
  <%= @hpi_survey.q_0215 %>
</p>

<p>
  <strong>Q 0216:</strong>
  <%= @hpi_survey.q_0216 %>
</p>

<p>
  <strong>Q 0217:</strong>
  <%= @hpi_survey.q_0217 %>
</p>

<p>
  <strong>Q 0218:</strong>
  <%= @hpi_survey.q_0218 %>
</p>

<p>
  <strong>Q 0219:</strong>
  <%= @hpi_survey.q_0219 %>
</p>

<p>
  <strong>Q 0220:</strong>
  <%= @hpi_survey.q_0220 %>
</p>

<p>
  <strong>Q 0221:</strong>
  <%= @hpi_survey.q_0221 %>
</p>

<p>
  <strong>Q 0222:</strong>
  <%= @hpi_survey.q_0222 %>
</p>

<p>
  <strong>Q 0223:</strong>
  <%= @hpi_survey.q_0223 %>
</p>

<p>
  <strong>Q 0224:</strong>
  <%= @hpi_survey.q_0224 %>
</p>

<p>
  <strong>Q 0225:</strong>
  <%= @hpi_survey.q_0225 %>
</p>

<p>
  <strong>Q 0226:</strong>
  <%= @hpi_survey.q_0226 %>
</p>

<p>
  <strong>Q 0227:</strong>
  <%= @hpi_survey.q_0227 %>
</p>

<%= link_to 'Edit', edit_hpi_survey_path(@hpi_survey), {:class => "btn btn-md btn-danger"} %>
